---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";

---

<Layout title="Radio la Voz del Colambo Online.">
	<main class="h-screen flex flex-col justify-between">
		<section>
			<Header />
		</section>

		<section class="container mx-auto grid grid-cols-1 md:grid-cols-8">
			<div class="col-[1/3] flex flex-col items-center">
				<div>
					<img
						class="rounded-lg"
						src="img/logocolambo.jpg"
						width="300"
						height="300"
						alt="Logo"
					/>
				</div>
				<div class="mt-6 text-center">
					<p class="text-white font-bold text-sm">
						DESCARGA NUESTRAS APP
					</p>
					<div class="flex">
						<a
							href="https://play.google.com/store/apps/details?id=com.app.radiocolambo&hl=es_PR&gl=US"
							target="_blank"
							><img
								src="img/google_play.png"
								width="130"
								height="130"
								alt="Google Play"
							/></a
						>
						<a href="#"
							><img
								src="img/app_store.png"
								width="130"
								height="130"
								alt="Google Play"
							/></a
						>
					</div>
				</div>
			</div>
			<div class="col-[4/-1] md:flex justify-end hidden">
				<div class="text-right">
					<p class="fuentepersonal z-40">ESCÚCHANOS</p>
					<p class="fuentepersonal z-30">EN VIVO</p>
					<p class="fuentepersonal z-20">24/7</p>
					<p class="text-white font-semibold">© servistream.net | 2024</p>
				</div>
			</div>
		</section>

		<section>
			<iframe
				src="https://playerhd.eu/radio/radiocolambo2/"
				frameborder="0"
				allowtransparency="true"
				style="width: 100%; min-height: 12px; border: 0;"></iframe>
		</section>

	</main>
</Layout>

<style>
	main {
		background-image: url(../img/pexels-david-bartus-43782-690779.avif);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}

	.fuentepersonal {
		font-family: "Anton", sans-serif;
		position: relative;
		display: block;
		text-align: right;
		text-transform: uppercase;
		font-family: "Anton";
		font-weight: 400;
		font-size: 10rem;
		line-height: 0.866;
		color: #ffffff;
		text-shadow: 0px 12px 9px rgba(0, 0, 0, 0.35);
		letter-spacing: -7px;
	}

</style>
