<header class="container mx-auto py-12">
    <section class="flex items-center justify-between px-5">
        <ul>
            <a href="" class="text-white text-4xl font-bold underline tracking-tighter degradado">Radio la Voz del Colambo</a>
        </ul>
        <div class="md:flex items-center hidden">
            <ul class="">
                <a href="https://lavozdelcolambo.blogspot.com/" class="text-white font-medium">Ley de Transparencia</a>
            </ul>
            <ul class="flex ml-4">
                <a href="#"><img src="img/TablerBrandFacebook.svg" width="20" height="20" alt="Facebook"></a>
                <a href="#"><img src="img/TablerBrandInstagram.svg" width="20" height="20" alt="Instagram"></a>
                <a href="#"><img src="img/TablerBrandTiktok.svg" width="20" height="20" alt="TikTok"></a>
                <a href="#"><img src="img/TablerBrandTwitter.svg" width="20" height="20" alt="X"></a>
                <a href="#"><img src="img/TablerBrandWhatsapp.svg" width="20" height="20" alt="Whatsapp"></a>

            </ul>
        </div>

    </section>
</header>
